/*HEADER*/
.header{
    background-color: var(--pink-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
}

.img-logo{
    width: 4%;
    margin-left: 2rem;
}

.btn-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.btn-us{
    background-color: transparent;
    border: none;
    color: white;
    padding: 1rem 2rem;
    font-size: 16px;
    text-align: center;
}

.btn-contact{
    background-color:  hsl(257, 33%, 35%, 0.5);
    border: none;
    width: 8rem;
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 2rem;
    color: white;
    font-size: 16px;
    border: 1px solid white;
}


/*FORM PAGE*/
.form-h1 {
    color: #E19898;
    font-size: 3rem;
    font-weight: 400;
    padding-right: 20rem;
}
 .form-input {
    display: flex;
    font-size: 11px;
    color: #4D3C77;
}

.form-left {    
    width: 2.5rem;
    padding-right: 14rem;

}
input, textarea {
    font-family: Jost;
    font-size: 9px;
    border-radius: 15px;
    background: rgba(225, 152, 152, 0.50);
    color: rgba(0, 0, 0, 0.50);
    margin: 0.2rem 0 0.5rem -0.4rem;
    border: none;
    padding: 5px;
    width: 12rem;
}
.form-btn {
    font-size: 3px;
    padding-top: 1rem;
}

button {
    font-family: Jost;
    font-size: 0.7rem;
    width: 5rem; 
    margin-right: 0.4rem;
    height: 2rem;
}
.btn-submit {
    background-color: #4D3C77;
    border-radius: 50px;
    color: #FFF;
    border: none;
    padding: 0.3rem;
}

.btn-cancel {
    background: #E19898;
    border-radius: 50px;
    color: #FFF;
    border: none;
    padding: 0.3rem;
}