/*HEADER*/

.header{
    background-color: var(--pink-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
}

.img-logo{
    width: 4%;
    margin-left: 2rem;
}

.btn-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.btn-us{
    background-color: transparent;
    border: none;
    color: white;
    padding: 1rem 2rem;
    font-size: 16px;
    text-align: center;
}

.btn-contact{
    background-color:  hsl(257, 33%, 35%, 0.5);
    border: none;
    width: 8rem;
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 2rem;
    color: white;
    font-size: 16px;
    border: 1px solid white;
}

.main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;
    margin: auto;
}


.big-img{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 15rem;
}

.big-img {
    display: inline-flexbox;
    position: relative;
    margin-right: 3.375rem;
}
.img-form {
    width: 25.875rem;
}
.img-group {
    width: 30.3125rem; 
    position: absolute;
}

.img-group{
    width: 55vh;
    position: absolute;
    
}
.description-h1 {
    font-size: 78px;
    margin-top: 1.875rem;
    color:var(--pink-color);
    width: 30rem;
    font-weight: 400;
    line-height: 4rem;
}

.description p {
    margin:1.875rem 0;
    font-size: 1.5rem;

}

/*revisar*/
.description button {
    background-color: var(--color-blue);
    color:white;
    width: 8.8887rem;
    height: 3.292rem;
    border: 0px;
    border-radius: 50px;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: Jost;
}

/*FOOTER DESKTOP*/
.profile {
    background-color: var(--pink-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    
}
.footer-profile{
    display: flex;
    width: 25%;
    flex-direction: column;
    
}

.img-profile {
    margin: auto;
    padding-top: 1em;
    width: 50%;
}

.text-profile {
    text-align: center;
}

.text-profile h3 {
    font-size: 22px;
    color: white;
    padding-bottom: 0.1em;
    font-weight:200;
}

.text-profile p {
    font-size: 18px;
    font-weight: 100;
}
.text-profile a {
    color: black;
    font-size: 40px;
}

@media only screen and (max-width: 600px){
    
  
    .btn-header{
        display: none;
    }

    .header{
        display: flex;
        justify-content: center;
        padding: 1rem;
        width: 100%;
    }

    .img-logo{
        width: 20%;
        margin: auto;
        
    }
    .big-img{
        display: flex;
        justify-content: center;
        margin: auto;
      
    }
    .main{
        display: flex;
        flex-direction: column;
    }


    .img-group{
        width: 80%;
        margin: auto;
        left: auto;
       
    }
    

    .img-form{
        width: 80%;
        margin: auto;
    }

    .description{
        width: 80%;
        padding: 1rem;
        height: 7rem;

    }

    .description h1{
        width: 50%;
        font-size: 50px;

    }

    .profile {
        background-color: var(--pink-color);
        width: 100%;
        height: 7rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-basis: 5;
        
        
    }

}
