/*HEADER*/

.header{
    background-color: var(--pink-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 1rem;
}

.img-logo{
    width: 7%;
    margin-left: 2rem;
}

.btn-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.btn-us{
    background-color: transparent;
    border: none;
    color: white;
    padding: 1rem 2rem;
    font-size: 16px;
    text-align: center;
}

.btn-contact{
    background-color:  hsl(257, 33%, 35%, 0.5);
    border: none;
    width: 8rem;
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 2rem;
    color: white;
    font-size: 16px;
    border: 1px solid white;
}

main {
    width: 100%;
   display: block;
}

.main-top {
    width: 100%;
    padding: 2rem 2rem 7rem 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.big-img{
    width: 40%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.description{
    width: 50%;
}
.img-form, .img-group{
    width: 40vh;
}

.img-group{
    margin-top: 2rem;
}

.description h1{
    width: 60%;

    font-size: 65px;
    font-weight: 400;
    color: var(--pink-color);
    line-height: 4rem;
}

.description p{
    font-size: 24px;
    color: black;
    line-height: 2rem;
}

.description button {
    background-color:  var(--color-blue);
    border: none;
    padding: .8rem 1rem;
    text-align: center;
    border-radius: 2rem;
    color: white;
    font-size: 14px;
    margin-top: 2rem; 
    width: 8.8887rem;
    height: 3.292rem;
    font-size: 1.2rem;    
}

.img-group{
 position: absolute;
}


/*FOOTER DESKTOP*/

.footer-mobile{
    display: none;
}
.main-bottom {
    background-color: var(--pink-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: auto;
  }
  
.footer-profile{
    display: flex;
    width: 20%;
    flex-direction: column;
}

.img-profile {
    margin: auto;
    padding-top: 1em;
    width: 40%;
}

.text-profile {
    text-align: center;
}

.text-profile h3 {
    font-size: 22px;
    color: white;
    padding-bottom: 0.1em;
    font-weight:200;
}

.text-profile p {
    font-size: 18px;
    font-weight: 100;
}
.text-profile a {
    color: black;
    font-size: 30px;
}

@media only screen and (max-width: 600px){
    
    body{
        display: flex;
        flex-direction: column;
    }
  
    .btn-header{
        display: none;
    }

    .header{
        display: flex;
        justify-content: center;
        padding: 1rem;
        width: 100%;
        height: auto;
    }

    .img-logo{
        width: 20%;
        margin: auto;
    }

    .main-top{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }

    .big-img{
        width: 40%;
        display: flex;
        justify-content: center;
        margin: auto;
        
    }

    .img-form, .img-group{
        width: 30vh;
        margin: auto;
    }

    .main-bottom {
        background-color: var(--pink-color);
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: static;
        height: auto;
        margin-bottom: 8rem;   
    }

    .footer-mobile{
        position: sticky;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        bottom: 0;
        width: 100%;
        background-color: var(--color-purple);
        padding: 2rem;
    }


    .footer-profile{
        display: flex;
        width: 40%;
        margin: 1rem
    }
    .img-profile {
        margin: auto;
        padding-top: 1em;
        width: 100%;
    }
}
